<!DOCTYPE html>
<html lang='pt'>
  <head>
    <title>ETH Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class='body-001'>
    <div class="body-002">
      <div class='bg-transparent text-white text-center mb-4 p-4'>
        <%= link_to root_path, class: 'text-white custom-001' do %>
          <h1 class='display-4'>ETH</h1>
        <% end %>

        <p class='lead'>Olá, aqui você encontrará artigos de todos os tipos.</p>
      </div>

      <div class='container-fluid min-vh-100'>
        <% flash.each do |type, message| %>
          <div class='alert alert-<%= type == 'alert' ? 'danger' : 'success' %> alert-dismissible fade show' role='alert'>
            <%= message %>
            <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
              <span aria-hidden='true'>&times;</span>
            </button>
          </div>
        <% end %>

        <div class="mb-2">
          <div class='search container-fluid pb-5'>
            <%= form_with url: search_posts_path, method: :get, local: true, class: 'form-inline float-right' do |form| %>
              <div class='form-group mx-3 mb-3'>
                <%= form.search_field :q, class: 'form-control bg-transparent text-white', required: true,
                  value: params[:q], autocomplete: "off" %>
              </div>

              <%= form.submit 'Buscar', class: 'btn btn-primary mb-3',
                data: { disable_with: 'Buscar' } %>
            <% end %>
          </div>
        </div>

        


        <%= yield %>
      </div>

      <footer class='bg-transparent text-white text-center mt-5 p-4'>
        <h2>Copyright © JB <%= Date.current.year %>.</h2>
      </footer>
    </div>
  </body>
</html>
